<div class="well sidebar-nav">
    <ul class="nav nav-list" id="nav_sidebar_admin">
        <li class="nav-header">Invoicing</li>
        <li id="nav_sidebar_invoicing_home"><a href="#invoicing">Home</a></li>
        <li id="nav_sidebar_invoicing_customers"><a href="#invoicing/customers">Customers</a></li>
        <li id="nav_sidebar_invoicing_invoices"><a href="#invoicing/invoices">Invoices</a></li>
        <li id="nav_sidebar_invoicing_payments"><a href="#invoicing/payments">Payments</a></li>
    </ul>
</div><!--/.well -->
