
<table class="pull-right">
    <tr>
        <td class="pull-right"><strong>ID</strong></td>
        <td width="290px"><input type="text"  id="input_id" placeholder="<%= id %>" disabled></td>
    </tr>
    <tr>
        <td class="pull-right"><strong>Village ID</strong></td>
        <td><input type="text" id="input_village_id" placeholder="<%= village_id %>" disabled></td>
    </tr>
    <tr>
        <td class="pull-right"><strong>Name</strong></td>
        <td><input type="text" id="input_name" name="name" placeholder="Name" value="<%= name %>"></td>
    </tr>
    <tr>
        <td class="pull-right"><strong>Type</strong></td>
        <td><input type="text" name="type" id="input_type" placeholder="Type" value="<%= type %>"></td>
    </tr>
    <tr>
        <td class="pull-right"><strong>Status</strong></td>
        <td><input type="text" name="status" id="input_status" placeholder="Status" value="<%= status %>"></td>
    </tr>
    <tr>
        <td class="pull-right"><strong>Present LPCD</strong></td>
        <td><input type="text" name="p_lpcd" id="input_p_lpcd" placeholder="Present LPCD" value="<%= p_lpcd %>"></td>
    </tr>
    <tr>
        <td class="pull-right"><strong>Latitude</strong></td>
        <td><input type="text" name="latitude" id="input_latitude" placeholder="Latitude" value="<%= latitude %>"></td>
    </tr>
    <tr>
        <td class="pull-right"><strong>Longitude</strong></td>
        <td><input type="text" name="longitude" id="input_longitude" placeholder="Longitude" value="<%= longitude %>"></td>
    </tr>
</table>