<table class='table table-condensed' style="border: none;">
    <tbody style="border: none;">
    <tr style="border: none;">
        <td style="border: none;">Transaction #</td>
        <td style="border: none;"><strong><%= id %></strong></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Prior Balance</td>
        <td style="border: none;"><strong><%= balance_before %></strong></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Amount Collected</td>
        <td style="border: none;"><strong><%= credit_amount %></strong></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Ending Balance</td>
        <td style="border: none;"><strong><%= balance_after %></strong></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Date</td>
        <td style="border: none;"><strong><%= date %></strong></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Notes</td>
        <td style="border: none;"><strong><%= notes %></strong></td>
    </tr>
    </tbody>
</table>