<td><%= id %></td>
<td><%= name %>
</td>
<td><%= type %></td>
<td><%= status %></td>
<td><%= p_lpcd %></td>
<td>
    <button class="btn btn-warning" type="button" name="setup" style="display: none;">Edit <i class="icon-wrench"></i></button>

    <button type="button" class="btn btn-primary" name='consumers'>
        Consumers <i class="icon-user"></i>
    </button>

    <button type="button" class="btn btn-success" name='ledger' style="display: none;">
        Ledger <i class="icon-list"></i>
    </button>
</td>