<div id="main_big_div">

    <div class="well" xmlns="http://www.w3.org/1999/html">
        <h1>Create billing job</h1>


        <p>A billing can be created for a set of consumers by selecting from the following hierarchy:</p>

        <div class="span10">
            <span class="badge badge-important">Subdivision</span> <i class="icon-arrow-right icon-white"></i>
            <span class="badge badge-important">Block</span> <i class="icon-arrow-right icon-white"></i>
            <span class="badge badge-important">Panchayat</span> <i class="icon-arrow-right icon-white"></i>
            <span class="badge badge-important">Village</span> <i class="icon-arrow-right icon-white"></i>
            <span class="badge badge-important">Habitation</span>
        </div>
        <br/><br/>
    </div>

    <div id="create_bill_wizard_div">
        <table class="table" id="create_bill_wizard_table">
            <tbody>
            <tr id="create_bill_wizard_subdivision_row">
                <td colspan="2">
                    <input type="hidden" id="billgroup_dd" class="span4"> &nbsp;
                    <button type="button" class="btn btn-primary" id="create_new_bill_for_billgroup_btn">Next <i
                            class="icon-arrow-right"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
