<div class="row">
    <div class="offset1 span8">

        <table class="table table-bordered table-striped table-hover">
            <tbody>
            <tr>
                <td>1</td>
                <td>Name</td>
                <td><%= name %></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Start Date</td>
                <td><%= start_date %></td>
            </tr>
            <tr>
                <td>3</td>
                <td>End Date</td>
                <td><%= end_date %></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Issue Date</td>
                <td><%= issue_date %></td>
            </tr>
            <tr>
                <td>6</td>
                <td>Period of Bill</td>
                <td><%= duration %></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-primary pull-right" id="submit_job_step_4">
                        Create Job <i class="icon-arrow-right icon-white"></i>
                    </button>
                </td>
                <td>

                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>