<div class="row">
    <div class="offset1 span8">

        <div class="alert alert-success">
            <h3>Success!</h3>
            <p class="lead">The billing job was created <strong>successfuly.</strong></p><p>To view the status of this job, click on the button below to browse to the Billing
            Jobs Queue!</p>
        </div>
        <a class="btn btn-primary pull-right" id="submit_job_step_final" href="#billing">
            View Billing Jobs <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>
</div>