<table class='table table-condensed' style="border: none;">
    <tbody style="border: none;">
    <tr style="border: none;">
        <td style="border: none;">TX #</td>
        <td style="border: none;"><strong><%= tx_id %></strong></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Transaction #</td>
        <td style="border: none;"><strong><%= data.id %></strong></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Fine Amount</td>
        <td style="border: none;"><strong><%= data.amount_due %></strong></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Date</td>
        <td style="border: none;"><strong><%= payment_date_display %></strong></td>
    </tr>
    <tr style="border: none;">
        <td style="border: none;">Description</td>
        <td style="border: none;"><strong>Account Disconnection</strong></td>
    </tr>
    </tbody>
</table>