<div class="well sidebar-nav">
    <ul class="nav nav-list" id="nav_sidebar_payment">
        <li class="nav-header">Accounts</li>
        <li id="nav_sidebar_account_ledger"><a href="#ledger">Account Ledger</a></li>
        <li id="nav_sidebar_accounts_new"><a href="#accounts/new">New Connection</a></li>
        <li class="nav-header">Data</li>
        <li id="nav_sidebar_data_habitations"><a href="#habitations">Habitations</a></li>
        <li id="nav_sidebar_user_payment_report"><a href="#user/payments">Payment Report</a></li>
        <li id="nav_sidebar_payment_list"><a href="#payments">Payment Log</a></li>
    </ul>
</div><!--/.well -->
