<div>
    <button id="refresh_jobs" type="button" class="btn btn-primary pull-right">Refresh <i
            class="icon-refresh icon-white"></i></button>
</div>
<br/><br/>
<table class="table table-bordered table-striped table-hover table-condensed" id="collection_data_table">
    <thead>
    <tr>
        <th>#</th>
        <th>Account Number</th>
        <th>Name</th>
        <th>Type</th>
        <th>Prior Balance</th>
        <th>Amount Due</th>
        <th>Amount Paid</th>
        <th>New Balance</th>
        <th>Payment Date</th>
        <th>Entry Date</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
