<div id="create_bill_wizard_div" xmlns="http://www.w3.org/1999/html">
    <form>
        <legend>Payment</legend>
        <label>Account Number</label>
        <input id="input_account_num" class="input-large" type="text" placeholder="Account Number…"
               style="padding-top: 4px;padding-right: 6px;padding-bottom: 4px;padding-left: 6px;"/>
        <span id="ok_or_not_span" class="badge badge-important" style="vertical-align: 30%;"><i id="ok_or_not_icon" class="icon-remove icon-white"></i></span>
    </form>
    <div id="account_info_div">

    </div>
</div>