<div class="pull-right" style="margin-bottom: 1em;">
    <button class="btn btn-primary" type="button" id="export_data_btn">Export <i class="icon-arrow-down icon-white"></i></button>
</div>
<table class="table table-bordered table-striped table-hover" id="collection_data_table">
    <thead>
    <tr>
        <td>#</td>
        <td>Name</td>
        <td>Account #</td>
        <td>Old Account</td>
        <td>New Account</td>
        <td>Fathers Name</td>
        <td>Address</td>
        <td>Balance</td>
        <td>Connection Date</td>
        <td>Disconnection Status</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

        
        