<h1>Downloads: New Connection Forms</h1>
<br/><br/>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <td>Water Supply Connection - DWSS</td>
        <td>
            <a href="/downloads/Form1_Water_Connection_from_Department.pdf" class="btn btn-primary">
                Download PDF&nbsp;<i class="icon-download-alt icon-white"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>Water Supply Connection - GPWSC</td>
        <td>
            <a href="/downloads/Form2_Water_Connection_from_GPWSC.pdf" class="btn btn-primary">
                Download PDF&nbsp;<i class="icon-download-alt icon-white"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>Sewerage Connection - GPWSC</td>
        <td>
            <a href="/downloads/Form3_Sewerage_Connection_from_GPWSC.pdf" class="btn btn-primary">
                Download PDF&nbsp;<i class="icon-download-alt icon-white"></i>
            </a>
        </td>
    </tr>
</table>