<div class="well sidebar-nav">
    <ul class="nav nav-list" id="nav_sidebar_admin">
        <li class="nav-header">Forms</li>
        <li id="nav_sidebar_downloads_new_connection"><a href="#downloads/forms/new_connection">New Connection</a></li>
        <li id="nav_sidebar_downloads_affidavit"><a href="#downloads/forms/affidavit">Affidavit</a></li>
        <li class="nav-header">Import Temaplates</li>
        <li id="nav_sidebar_downloads_consumer"><a href="#downloads/templates/consumer">Consumer</a></li>
        <li id="nav_sidebar_downloads_habitation"><a href="#downloads/templates/habitation">Habitation</a></li>
        <li id="nav_sidebar_downloads_scheme"><a href="#downloads/templates/scheme">Scheme</a></li>
    </ul>
</div><!--/.well -->        