<p><h1>Downloads: Scheme Template</h1></p>

<br/><br/>
<a href="/downloads/Scheme_Template_CSV.zip" id="download_csv" class="btn btn-primary">
    Download CSV&nbsp;<i class="icon-download-alt icon-white"></i>
</a>

<a href="/downloads/Scheme_Template_XLS.zip" id="download_xls" class="btn btn-primary">
    Download XLS&nbsp;<i class="icon-download-alt icon-white"></i>
</a>

<br/><br/><br/>
<p>The scheme template consists of the following fields:</p>

<br/>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: #ccc;">
            <td>Column Name</td>
            <td>Column Description</td>
        </tr>
    </thead>
    <tr>
        <td>Number</td>
        <td>Serial or row number</td>
    </tr>
    <tr>
        <td>Scheme Name</td>
        <td>The name of the scheme</td>
    </tr>
    <tr>
        <td>Scheme Type</td>
        <td>Type of Scheme: TW , HP</td>
    </tr>
    <tr>
        <td>Operated By</td>
        <td>Who the scheme is operated by: GP, DWSS, GPWSC</td>
    </tr>
    <tr>
        <td>D_LPCD</td>
        <td>The designed LPCD capacity of the scheme</td>
    </tr>
    <tr>
        <td>Operational Status</td>
        <td>The operational status of the scheme: Operational, Running, Work In Progress, Bore Fail</td>
    </tr>
</table>
