<p><h1>Downloads: Consumer Template</h1></p>

<br/><br/>
<a href="/downloads/Consumer_Template_CSV.zip" id="download_csv" class="btn btn-primary">
    Download CSV&nbsp;<i class="icon-download-alt icon-white"></i>
</a>

<a href="/downloads/Consumer_Template_XLS.zip" id="download_xls" class="btn btn-primary">
    Download XLS&nbsp;<i class="icon-download-alt icon-white"></i>
</a>

<br/><br/><br/>
<p>The consumer template consists of the following fields:</p>

<br/>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: #ccc;">
            <td>Column Name</td>
            <td>Column Description</td>
        </tr>
    </thead>
    <tr>
        <td>Number</td>
        <td>Serial or row number</td>
    </tr>
    <tr>
        <td>Scheme</td>
        <td>The name of the Scheme from the Scheme Import Template</td>
    </tr>
    <tr>
        <td>Habitation</td>
        <td>The name of the Habitation from the Habitation Import Scheme</td>
    </tr>
    <tr>
        <td>Account Number</td>
        <td>Account number</td>
    </tr>
    <tr>
        <td>New Account</td>
        <td>New account for departmental record keeping</td>
    </tr>
    <tr>
        <td>Old Account</td>
        <td>Old account for departmental record keeping</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>Name of consumer</td>
    </tr>
    <tr>
        <td>Fathers Name</td>
        <td>Father's name of consumer</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>Consumers Address</td>
    </tr>
    <tr>
        <td>Disconnection Status</td>
        <td>Consumer Account Status: 0=Connected, 1=Disconnected</td>
    </tr>
    <tr>
        <td>Connection Date</td>
        <td>Date when the account was connected</td>
    </tr>
    <tr>
        <td>Disconnection Date</td>
        <td>Date when the account was disconnected</td>
    </tr>
    <tr>
        <td>Economic Status</td>
        <td>Economic Status of consumer: APL, BPL</td>
    </tr>
    <tr>
        <td>Category</td>
        <td>Consumer category: Gen, SC, BC</td>
    </tr>
    <tr>
        <td>Prepay Months remaining</td>
        <td>The number of months the consumer as already paid in advance</td>
    </tr>
    <tr>
        <td>Balance</td>
        <td>Consumer's account balance</td>
    </tr>
    <tr>
        <td>Create Connection</td>
        <td>True=Create Connection Entry, False=Skip</td>
    </tr>
    <tr>
        <td>Connection Fee</td>
        <td>If Create Connection=true (as defined above), the amount to use for this conncetion fee entry.</td>
    </tr>
    <tr>
        <td>Security</td>
        <td>Amount of Security Deposit already collected. This amount is subtracted from the Consumers balance as specified above</td>
    </tr>
    <tr>
        <td>Create Balance Correction</td>
        <td>True=Create balance correction entry, False=Skip</td>
    </tr>
    <tr>
        <td>Balance Date</td>
        <td>The date to use for the balance correction entry.</td>
    </tr>
</table>
