<p><h1>Downloads: Habitation Template</h1></p>

<br/><br/>
<a href="/downloads/Habitation_Template_CSV.zip" id="download_csv" class="btn btn-primary">
    Download CSV&nbsp;<i class="icon-download-alt icon-white"></i>
</a>

<a href="/downloads/Habitation_Template_XLS.zip" id="download_xls" class="btn btn-primary">
    Download XLS&nbsp;<i class="icon-download-alt icon-white"></i>
</a>

<br/><br/><br/>
<p>The habitation template consists of the following fields:</p>

<br/>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: #ccc;">
            <td>Column Name</td>
            <td>Column Description</td>
        </tr>
    </thead>
    <tr>
        <td>Number</td>
        <td>Serial or row number</td>
    </tr>
    <tr>
        <td>Wing</td>
        <td>The name of the wing</td>
    </tr>
    <tr>
        <td>Circle</td>
        <td>The name of the Circle</td>
    </tr>
    <tr>
        <td>District</td>
        <td>The name of the District</td>
    </tr>
    <tr>
        <td>Division</td>
        <td>The name of the Division</td>
    </tr>
    <tr>
        <td>Subdivision</td>
        <td>The name of the Subdivision</td>
    </tr>
    <tr>
        <td>Block</td>
        <td>The name of the Block</td>
    </tr>
    <tr>
        <td>Panchayat</td>
        <td>The name of the Panchayat</td>
    </tr>
    <tr>
        <td>Village</td>
        <td>The name of the Village</td>
    </tr>
    <tr>
        <td>Habitation</td>
        <td>The name of the Habitation</td>
    </tr>
    <tr>
        <td>Scheme</td>
        <td>The name of the Scheme, must match the name from Scheme import template</td>
    </tr>
    <tr>
        <td>Connections</td>
        <td>Number of connections in this habitation</td>
    </tr>
    <tr>
        <td>Type</td>
        <td>Habitation type: MH, OH</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>Connection status of the habitation: FC, PC, NC</td>
    </tr>
    <tr>
        <td>P LPCD</td>
        <td>Present LPCD capacity of the habitation</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>Latitude of the habitation in decimal format</td>
    </tr>
    <tr>
        <td>longitude</td>
        <td>Longitude of the habitation in decimal format</td>
    </tr>
    <tr>
        <td>MIS ID</td>
        <td>MIS ID of the habitation</td>
    </tr>
    <tr>
        <td>Hadbast_no</td>
        <td>Hadbast number for the habitation</td>
    </tr>
    <tr>
        <td>Gen Pop</td>
        <td>General population of habitation</td>
    </tr>
    <tr>
        <td>SC Pop</td>
        <td>Scheduled caste population of habitation</td>
    </tr>
    <tr>
        <td>Gen HH</td>
        <td>Number of general households in habitation</td>
    </tr>
    <tr>
        <td>sc_hh</td>
        <td>Number of scheduled caste households in habitation</td>
    </tr>
    <tr>
        <td>Late Fee Type</td>
        <td>Late fee type for the habitation: 0=Disabled,  1=Percentable of Bill, 2=Fixed Amount</td>
    </tr>
    <tr>
        <td>Late Fee Percent</td>
        <td>Percentage of Late Fee</td>
    </tr>
    <tr>
        <td>Late Fee Fixed</td>
        <td>Amount of late fee if paid in the month dye</td>
    </tr>
    <tr>
        <td>Late Fee Fixed Month</td>
        <td>Amount of late fee if paid after month due</td>
    </tr>
    <tr>
        <td>Enable New Connection Fee</td>
        <td>True=Enable new connection fee, False=Disable</td>
    </tr>
    <tr>
        <td>New Connection Fee GC</td>
        <td>New connection fee for General category</td>
    </tr>
    <tr>
        <td>New Connection Fee BC</td>
        <td>New connection fee for BC Category</td>
    </tr>
    <tr>
        <td>New Connection Fee SC</td>
        <td>New connection fee for SC Category</td>
    </tr>
    <tr>
        <td>Enable Disconnection Fee</td>
        <td>True=Enable disconnection fee, False=Disable</td>
    </tr>
    <tr>
        <td>Disconnection Fee GC</td>
        <td>Disconnection fee for General category</td>
    </tr>
    <tr>
        <td>Disconnection Fee BC</td>
        <td>Disconnection fee for BC category</td>
    </tr>
    <tr>
        <td>Disconnection Fee SC</td>
        <td>Disconnection fee for SC category</td>
    </tr>
    <tr>
        <td>Enable Reconnection Fee</td>
        <td>True=Enable reconnection fee, False=Disable</td>
    </tr>
    <tr>
        <td>Reconnection Fee GC</td>
        <td>Reconnection fee for General category</td>
    </tr>
    <tr>
        <td>Reconnection Fee BC</td>
        <td>Reconnection fee for BC category</td>
    </tr>
    <tr>
        <td>Reconnection Fee SC</td>
        <td>Reconnection fee for SC category</td>
    </tr>
    <tr>
        <td>Deposit</td>
        <td>Amount of deposit required for consumers</td>
    </tr>
    <tr>
        <td>Short Amount</td>
        <td>If the balance is short of this amount, the consumers bill will still be closed</td>
    </tr>
    <tr>
        <td>Prepay Enabled</td>
        <td>True=Enable prepay, False=Disable</td>
    </tr>
    <tr>
        <td>Prepay Months</td>
        <td>Minimum number of months that must be paid in advance</td>
    </tr>
    <tr>
        <td>Prepay Amount</td>
        <td>Amount charged for the Prepay Months defined above</td>
    </tr>
</table>

