<!--<div class="hero-unit">-->
    <!--<h1>Data Administration</h1>-->
    <!--<br/><div class="span10">-->
        <!--<h3 id="badges">Navigate the Data-Model Hierarchy</h3>-->
        <!--<span class="badge badge-important">Wing</span> <i class="icon-arrow-right icon-white"></i>-->
        <!--<span class="badge badge-important">Circle</span> <i class="icon-arrow-right icon-white"></i>-->
        <!--<span class="badge badge-important">District</span> <i class="icon-arrow-right icon-white"></i>-->
        <!--<span class="badge badge-important">Division</span> <i class="icon-arrow-right icon-white"></i>-->
        <!--<span class="badge badge-important">Subdivision</span> <i class="icon-arrow-right icon-white"></i>-->
        <!--<span class="badge badge-important">Block</span> <i class="icon-arrow-right icon-white"></i>-->
        <!--<span class="badge badge-important">Panchayat</span> <i class="icon-arrow-right icon-white"></i>-->
        <!--<span class="badge badge-important">Village</span> <i class="icon-arrow-right icon-white"></i>-->
        <!--<span class="badge badge-important">Habitation</span> <i class="icon-arrow-right icon-white"></i>-->
        <!--<span class="badge badge-info">Consumer</span>-->
    <!--</div>-->
    <!--<br/>-->
    <!--<br/>-->
    <!--<br/>-->
<!--</div>-->
<!--height="480px;" width="640px"-->
        <div class="row">
            <div class="span12">
                <canvas id="graphVis" height="100%" width="100%"/>
            </div>
        </div>


<canvas id="springygraphVis" height="480" width="640" style="display:none;"/>