<div class="well sidebar-nav">
    <ul class="nav nav-list" id="nav_sidebar_data">
        <li class="nav-header">Admin Menu</li>
        <li id="nav_sidebar_data_wings"><a class="active" href="#wings">Wings</a></li>
        <li id="nav_sidebar_data_circles"><a href="#circles">Circles</a></li>
        <li id="nav_sidebar_data_districts"><a href="#districts">Districts</a></li>
        <li id="nav_sidebar_data_divisions"><a href="#divisions">Divisions</a></li>
        <li id="nav_sidebar_data_subdivisions"><a href="#subdivisions">Subdivisions</a></li>
        <li id="nav_sidebar_data_blocks"><a href="#blocks">Blocks</a></li>
        <li id="nav_sidebar_data_panchayats"><a href="#panchayats">Panchayats</a></li>
        <li id="nav_sidebar_data_villages"><a href="#villages">Villages</a></li>
        <li id="nav_sidebar_data_habitations"><a href="#habitations">Habitations</a></li>
        <!--<li id="nav_sidebar_data_consumers"><a href="#consumers">Consumers</a></li>-->
        <li class="nav-header">--</li>
        <li id="nav_sidebar_data_schemes"><a href="#schemes">Schemes</a></li>
    </ul>
</div><!--/.well -->